CONFIG_FIRMWARE_INCLUDE_SMARTDNS=y
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=n
CONFIG_FIRMWARE_INCLUDE_KCPTUN=n
CONFIG_FIRMWARE_INCLUDE_CADDY=n
CONFIG_FIRMWARE_INCLUDE_SSSERVER=n
CONFIG_FIRMWARE_INCLUDE_SSWAN=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=y
CONFIG_FIRMWARE_INCLUDE_DNSMASQ=y
CONFIG_FIRMWARE_INCLUDE_HTTPS_DNS=y
CONFIG_FIRMWARE_INCLUDE_CAKE=y
CONFIG_FIRMWARE_INCLUDE_QOS=n
CONFIG_FIRMWARE_INCLUDE_NFSD=n
CONFIG_FIRMWARE_INCLUDE_SAMBA=n
CONFIG_FIRMWARE_INCLUDE_FTPD=n
CONFIG_FIRMWARE_INCLUDE_TOR=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n
CONFIG_FIRMWARE_INCLUDE_3G=n
CONFIG_FIRMWARE_INCLUDE_MODEM=n
CONFIG_FIRMWARE_INCLUDE_PRINTER=n
CONFIG_FIRMWARE_INCLUDE_WEBSHELL=y
CONFIG_FIRMWARE_INCLUDE_LANG_ZH_TW=y
