CONFIG_VENDOR=R3P
CONFIG_FIRMWARE_VERSION=3.4.3.9-099
CONFIG_FIRMWARE_LANGUAGE=TW
CONFIG_FIRMWARE_ENABLE_LANG_TW=y
CONFIG_FIRMWARE_ENABLE_LANG_EN=y
CONFIG_FIRMWARE_ENABLE_LANG_CN=n
CONFIG_FIRMWARE_ENABLE_LANG_RU=n
CONFIG_FIRMWARE_ENABLE_LANG_FR=n
CONFIG_FIRMWARE_ENABLE_LANG_DE=n
CONFIG_FIRMWARE_ENABLE_LANG_ES=n
CONFIG_FIRMWARE_ENABLE_LANG_PT=n
CONFIG_FIRMWARE_ENABLE_LANG_IT=n
CONFIG_FIRMWARE_ENABLE_LANG_JA=n
CONFIG_FIRMWARE_ENABLE_LANG_KO=n
